<div class="page-margin flex-box-col">
    <div class="gradient-design">
        <p class="headline" [textContent]="contact.headline"></p>
    </div>
    <p class="subHeadline" [textContent]="contact.subHeadline"></p>
    <div class="flex-box-row">
        <a [href]="item.link" 
            target="_blank"
            *ngFor="let item of contact.socialMediaList">
            <div class="social-media-icon-background">
                <img class="thumbnail" [src]="item.materialIcon"/>
            </div>
        </a>
    </div>
</div>