.page-margin {
    margin: 0% 15%;
    padding: 15px;
}

/* page-margin for small-sized screen devices*/
@media only screen and (max-width:599px) {
    .page-margin {
        margin: 0 20px;
    }
}

.flex-box-col {
    /* width: 100%; */
    display: inline-flex;
    flex-direction: column;
    /* responsively send to next line */
    flex-wrap: wrap;
    /* aligns items vertically */
    /* justify-content: flex-end; */
    /* aligns items horizontally as now flex-direction is column */
    align-items: flex-start;
    /* add gap between flex items */
    gap: 30px;
}

.gradient-design {
    height: 58vh;
    display: inline-flex;
    /* aligns items horizontolly */
    justify-content: flex-start;
    /* aligns items vertically */
    align-items: flex-end;
    background: linear-gradient(180deg, rgba(48, 48, 48, 0) 0%, #303030 84.9%);
    background-size: 7px auto;
    background-repeat: no-repeat;
}

p {
    margin: 0%;
}

.headline {
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    color: #303030;
    margin-bottom: -0.21em !important;
}

.subHeadline {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #606060;
}

.flex-box-row {
    width: 100%;
    display: inline-flex;
    /* responsively send to next line */
    flex-wrap: wrap;
    /* aligns items horizontally */
    justify-content: flex-start;
    /* aligns items vertically */
    /* align-items: flex-end; */
    /* add gap between flex items */
    gap: 15px;
}

.social-media-icon-background {
    width: 50px;
    height: 50px;
    background: #606060;
    clip-path: circle();
}

.thumbnail {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 10px;
}