.page-margin {
    margin: 0% 15%;
    padding: 15px;
}

@media only screen and (max-width:599px) {
    .page-margin {
        margin: 0 20px;
    }
}

.gradient-design {
    padding: 290px 0 0 0px;
    /* background-image: url('../../assets/images/icons/l_background.png');
    background-position: 2px;
    background-repeat: no-repeat;
    background-size: contain; */

    margin-bottom: 0%;
    background: linear-gradient(180deg, rgba(48, 48, 48, 0) 0%, #303030 84.9%);
    background-size: 7px 347.5px;
    background-repeat: no-repeat;
}

.headline {
    /* position: absolute; */
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    color: #303030;
    padding: 0.5em 0em;
}

.subHeadline {
    padding: 0.75em 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #606060;
}

.socialMediaList {
    display: inline-flex;
    flex-direction: row;
    /* justify-content:space-between; */
}

.mat-mdc-list-base {
    --mdc-list-list-item-one-line-container-height: 60px;
}

.mdc-list-item {
    padding: 24px 24px 24px 0;
}

.social-media-icon {
    width: 50px;
    height: 50px;
    background: #606060;
    clip-path: circle();
}

.thumbnail {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 10px;
}