.page-margin {
    margin: 0% 15%;
}

/* page-margin for small-sized screen devices*/
@media only screen and (max-width:599px) {
    .page-margin {
        margin: 0 20px;
    }
}

.nav-bar-margin {
    height: 70px;
}

.footer-margin {
    height: 14px;
}

.pdf-viewer {
    width: 70%;
    height: 70%;
}

@media screen and (max-width:599px) {
    .pdf-viewer {
        width: calc(100% - 40px);
        height:calc(100% - 200px);
    }
}