.flex-box {
    width: 100%;
    display: inline-flex;
    /* aligns items horizontolly */
    justify-content: space-around;
    /* aligns items vertically */
    align-items: center;
    /* add gap between flex items */
    gap: 40px;
}

@media screen and (max-width: 1199px){
    .flex-box {
        flex-wrap: wrap;
    }
}

.flex-box-col {
    display: inline-flex;
    flex-direction: column;
    /* aligns items horizontally as now flex-direction is column */
    align-items: flex-start;
    /* add gap between flex items */
    gap: 15px;
}

.image-container {
}

.thumbnail {
    width: 35vw;
    height: 294px;
    height: auto;
    left: 0px;
    top: 0px;
}

@media screen and (max-width: 991px) {
    .thumbnail {
        width: 350px;
        max-width: calc(100vw - 40px);
    }
}

.material-symbols-outlined {
    font-size: 28px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.content-container {
}

.project-title {
    font-size: 32px;
    font-weight: 400;
    line-height: 37px;
    color: #303030;
}

.project-sub-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: #303030;
}

.project-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #606060;
}

.read-more-button {
    padding: 0px !important;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    color: #303030;
    text-decoration: underline;
    text-decoration-color: #303030;
    text-decoration-thickness: 2px;
    text-underline-offset: 11px;
}

.read-more-button::after {
    /* content: "\2192"; */
    /* font-family: "Material Icons";
    content: "\e5c8"; */
    content: '';
    display: inline-flex;
    width: 24px;
    height: 24px;
    background: url('../../assets/images/icons/right-arrow.svg') no-repeat center center;
    background-size: 50%;
}

.read-more-button:hover::after {
    padding-left: 0.5em;
    /* transition: linear 0.25s; */
}