@import url("font-awesome.min.css");
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

/* --breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px; */

.wh-100 {
	width: 100%;
	height: 100%;
}

/* Common */
body {
    font-family: Ubuntu;
    font-size: 12px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.4);
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    width: 100vw;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Buttons */
	.btn-grp > * {
		width: 100%;
	}
	
    .btn {
        border-radius: 4px;
        font-size: 1em;
        font-weight: 300;
        width: 100%;
    }

    .btn:hover {
        /* x y blur colour opacity */
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
        -moz-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
        -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
    }

    .btn:active {
        box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.24);
        -moz-box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.24);
        -webkit-box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.24);
        animation-delay: 30ms;
    }

    .btn.btn-fill {
        background: #E93415;
        color: #FFFFFF;
    }

    .btn.btn-fill:hover {
        /* filter: grayscale(32%); */
        filter: saturate(1.2);
    }

    .btn.btn-outline {
        background: rgba(89, 46, 0, 0);
        color: #E93415;
        border: 1px solid #E93415;
		width: 100%;
    }

    .white {
        color: #FFFFFF;
        border-color: #FFFFFF;
    }

/*  Icons */
    .icons-group > * {
        padding: 5px; /* test */
        font-size: 1.5em;
        color: #D7D7D7;
    }

    .icons-group > *:hover {
        color: #FFEAE3;
        text-decoration: underline;
        text-underline-offset: 5px;
    }

    icon {
        padding: 0 10px 0 10px;
    }

    .icon:before {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-transform: none !important;
	}

    .icon > .label {
        display: none;
    }

/* Href */
    a:hover {
        text-decoration: none;
    }
/* Table */

	.row {
		margin: 0px !important;
	}

/* Modal */

	.modal-backdrop { 
		background-color: #000; 
		opacity: 0.8 !important;
	}

	.modal-dialog {
		max-width: unset;
		/* width: calc(100% - 60px); */
		width: 72%;
		height: calc(100vh - 60px);
		margin: 60px auto;
		padding: 0;
	}

	.modal-content {
		height: 100%;
		margin: auto;
		padding: 0;
		background-color: unset;
		border: none;
	}

	.close.modal-close {
		position: fixed;
		left: 20px;
		top: 20px;
		font-size: 2rem;
	}

	.close.modal-close:hover {
		position: fixed;
		right: 17px;
		top: 17px;
		font-size: 2.5rem;
		color: #E93415;
	}

	.download {
		background-color: unset;
		border: none;
		text-decoration: underline;
		text-underline-offset: 3px;
		color: #000;
		opacity: 0.5;
	}

	.download.modal-download {
		position: fixed;
		right: 20px;
		top: 20px;
		font-size: 1.5rem;
		font-weight: 500;
	}

	.modal-download:hover {
		position: fixed;
		right: 17px;
		top: 17px;
		font-size: 2rem;
		color: #E93415;
	}

	.modal-body {
		padding: 2px;
	}

	.modal-footer {
		border-top: none;
	}

/* Page-Breaks */
	hr.solid {
		border-top: 1px solid #bbb;
		margin-top: 0em;
   		margin-bottom: 0em;
		padding: 0 0rem;
	}

/* Backgrounds */
	.bg-negative{
		background: #241E1D;
		content: '';
		display: block;
		height: 100vh;
		width: 100vw;
	}

/* Headings */
    heading {
        font-size: 33px;
        line-height: 38px;
        font-weight: 600;
        display: flex;
        text-align: left;
	    color: #606060;
    }

	heading.negative {
	    color:  #B9B9B9;
    }

    .main-heading {
        font-size: 50px;
        font-weight: 400;
        line-height: 58px;
        display: flex;
    }

    .heading-gradient {
        background: linear-gradient(180deg, #DFDFDF 0%, rgba(237, 237, 237, 0) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

/* Footer */
    .footer {
        font-size: 10px;
        line-height: 11px;
		color: #5B5B5B;
		text-align: center;
    }

/* Paragraphs */
    p {
        text-align: left;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 16px;
    }

	p.negative {
		color: #606060;
	}

    .highlight-red {
        color: rgba(233, 52, 21, 0.5);
    }
    
/* Section */
    section {
        padding: 0 10vw;
        min-height: 95vh;
    }

/* Container */

/* Section One - Home */
    #home {
        padding-top: 10vh;
    }

	#home-pic {
		max-height:90vh;
        max-width: 70vw;
	}

	.dropdown > button
	 {
		background: #433836;
		border-radius: 4px;
		border: none;
		font-size: 12px;
		line-height: 14px;
		color: #B9B9B9;
		text-align: left;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.dropdown.show > button,
	.dropdown.show > button:hover,
	.dropdown:hover > button {
		background: #433836;
		border-radius: 4px;
		border: none;
		font-size: 12px;
		line-height: 14px;
		color:  #606060;
		text-align: left;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}


	.dropdown-menu{
		background: #433836;
		border-radius: 8px;
		border: none;
		padding: 0px;
		width: 100%;
		font-size: 12px;
		line-height: 14px;
		color: #B9B9B9;
		text-align: left;
	}

	.dropdown-item {
		color: #B9B9B9;
	}

	.dropdown-item:hover,
	.dropdown-item:focus,
	.dropdown-item:active,
	.dropdown-item.active {
		background: #241E1D;
		color: #B9B9B9;
	}

    #get-in-touch {
        width: 164px;
        font-size: 15px;
    }
    
    #get-in-touch:hover {
        background: #E93415;
    }
    
    #get-in-touch:active {
        background: #E93415;
        box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.24);
        -moz-box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.24);
        -webkit-box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.24);
        animation-delay: 30ms;
    }

	#home > .footer {
		cursor: s-resize;
	}

/* Main Content */

/* Section Two - About Me */
    #about-me {
        background: #FFF8F7;
    }

    #about-pic {
        max-height: 100vh;
        max-width: 80vw;
    }

    #about-description {
        font-size: 12px;
        line-height: 14px;
        padding: 30px 0 30px 0;
    }

    #contact-me:hover {
        /* x y blur colour opacity */
        background: #FFEAE3;
    }

    /* todo */
    #contact-me:active {
        /* x y blur colour opacity */
        background: #FFEAE3;
        animation-delay: 30ms;
    }

/* Section Three - Portfolio */
    #portfolio {
		min-height: 95vh;
		padding-top:20px;
		padding-bottom: 20px;
    }

	#portfolio > heading {
		font-size: 20px;
	}

	/* Portfolio Carousel */
	.carousel-indicators {
		transform: translateY(50px);
	}

	.carousel-indicators > li {
		width: 10px;
		height: 10px;
		border-radius: 100%;
		background-color: rgba(233, 52, 21, 0.16);
	}

	.carousel-indicators > li.active{
		background-color: #E93415;
	}

	.carousel-item {
		flex-direction: row;
		flex-wrap: nowrap;
		flex-direction: column;
		justify-items: stretch;
		/* margin: 10px !important; */
	}

	.carousel-item.active{
		display: flex;
		flex-direction: column;
		justify-items: center;
	}

	.carousel-inner .carousel-item.active,
	.carousel-inner .carousel-item-next,
	.carousel-inner .carousel-item-prev {
		display: flex;
	}

	.carousel-inner .carousel-item-right.active,
	.carousel-inner .carousel-item-next {
		/* transform: translateX(calc(33.33333333% + 10px)); */
	}

	.carousel-inner .carousel-item-left.active,
	.carousel-inner .carousel-item-prev {
		/* transform: translateX(calc(33.33333333% + 10px)); */
	}

	.carousel-inner .carousel-item-prev,
	.carousel-inner .carousel-item-next {
		/* transform: translateX(0); */
	}

	.carousel-control-prev-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
	}
	
	.carousel-control-next-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%20023' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
	}

	/* Portfolio Details */
    .portfolio-item {
		width: calc(100% - 20px);
		height: 78vh;
        border: 1px dashed;
        box-sizing: border-box;
        border-radius: 8px;
		margin: 5px !important;
    }

    img.project-coverpage {
        max-width: 233.45px; /* ?? */
        height: calc(100% - 260px); /* ?? */
        margin: auto;
    }
    
    .project-title {
        height: 65px; /* retest */
        font-size: 28px; /* retest */
        line-height: 32px; /* retest */
        text-align: center;
        color: #606060;
    }

    .project-description {
        font-size: 14px;
        line-height: 16px;
		height: 160px;
    }
    
    .btn.view-project {
        font-size: 12px;
    }

/* Main Content Ends*/

/* Section Four - Contact */
    #contact {
        padding: 20vh 10vw 0 10vw; /* retest */
    }

/* Media Specific */
/* Mobile */
	@media screen and (max-width: 991px) {

		/* Common */

		.btn-grp> * {
			margin-bottom: 10px;
		}

		/* .row{
			padding: 10px;
		} */

		/* .row > * {
			margin: 10px;
		} */

        /* Section */

		/* Container */

		/* Headings */

		/* Section One - Home */
		#home-pic {
			height: 32vh;
			width: auto;
		}

		/* Section Two - About Me */
		#about-me {
			padding: 25px;
		}

		#about-pic {
			height: 32vh;
			width: auto;
		}

		/* Section Three - Portfolio */

		/* Section Four - Contact */

	}

/* Tabs/Desktop/Laptops */
@media screen and (min-width:992px) {
    /* Common */
        body {
            font-size: 1.25em;
        }

    /* Buttons */
        .btn-grp > * {
            margin-right: 10px;
        }

        .btn-grp > *:nth-last-child(1) {
            margin-right: 0;
        }

        .btn {
            border-radius: 8px;
            font-size: 1em;
        }

    /*  Icons */
        .icons-group > * {
            padding: 10px;
        }

    /* Href */

    /* Table */

    /* Progress Bar */
	.navmenu-container {
		z-index: 50;
	}

	.navmenu {
		position: fixed;
		top: 50%;
		transform: translateY(-50%);
	}

	.navmenu > ul{
		list-style: none;

		margin: 0;
		padding: 0;

		position: relative;
		padding-left: 30px;
	}

	.nav-progress{
		content: '';
		position: absolute;
		top: 0;
		left: 10px;
		width: 10px;
		height: 100%;
		background: rgba(140, 140, 140, 0.32);
		border-radius: 6px;
		z-index: 1;
		position: fixed;
		top: 50%;
		transform: translateY(-50%);
	}

	.nav-progress > .nav-progress-bar {
		position: absolute;
		top: 50px;
		transform: translateY(-50px);
		left: 0;
		width: 10px;
		/* height: 25%; */
		background: #E93415;
		border-radius: 6px;
		z-index: 100;
		transition: height 1s;
	}

	.navmenu > ul > li {
		padding: 50px 0 50px 10px;
	}

	.navmenu > ul > li > a {
		text-decoration: none;
		text-decoration: none;
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
		color: #808080;
	}

	.navmenu > ul > li.active > a {
		color: #E93415;
	}

    /* Page-Breaks */

    /* Headings */
        heading {
            font-size: 7vh;
            line-height: 9vh;
        }

        .main-heading {
            font-size: 20vh;
            line-height: 22vh;
        }

    /* Footer */
        .footer {
            font-size: 14px;
            line-height: 16px;
        }

    /* Paragraphs */
        p {
            font-size: 20px;
            line-height: 28px;
        }

    /* Section */

    /* Container */

    /* Section One - Home */
        #home {
            padding-top: 20vh;
        }

		#home-pic {
			max-height: 50vh;
			max-width: 80vw;
		}

		#home-right{
			margin-right: 0px !important;
			padding-left:5em;
		}

		.dropdown.show > button,
		.dropdown:hover > button,
		.dropdown > button,
		.dropdown.show:hover > button {
			border-radius: 8px;
			font-size: 20px;
			line-height: 24px;
		}
	
		.dropdown-menu{
			font-size: 20px;
			line-height: 24px;
		}

        #get-in-touch {
            width: 256px;
			font-size: 24px;
        }

    /* Main Content */
    /* Section Two - About Me */
		#about-me.row {
			margin-right: 0px !important;
			padding-right: 3em !important;
		}
		#about-details {
			margin-right: 0px !important;
			padding-left:5em;
		}

		#about-description {
			font-size: 1em;
			line-height: 1.5em;
		}

    /* Section Three - Portfolio */
		#portfolio {
			padding-top: 100px;
			padding-bottom: 130px;
			height: 95vh;
		}

		#portfolio > heading {
			font-size: 7vh;
            line-height: 9vh;
		}
		
		.portfolio-item {
			width: 220px;
			position: relative;
			height: auto;
		}
		
		.portfolio-item:hover, 
		.portfolio-item:active{
			width: 280px;
			position: relative;
			transform: translate3d(0px, -100px, 30px);
			box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.16);
		}
		
		img.project-coverpage {
			max-width: 233.45px;
			height: 315.8px;
			margin: auto;
		}
		
		.project-title {
			height: 70px;
			font-size: 30px;
			line-height: 36px;
		}
		
		.portfolio-item:hover .project-title,
		.portfolio-item:active .project-title {
			font-size: 24px;
			line-height: 30px;
			height: auto;
		}
		
		.project-details {
			display: none;
		}
		
		.portfolio-item:hover .project-details,
		.portfolio-item:active .project-details {
			display: block;
		}
		
		.project-description {
			font-size: 14px;
			line-height: 16px;
			height: auto;
		}
		
		.btn.view-project {
			font-size: 18px;
		}

    /* Main Content Ends*/

    /* Section Four - Contact */
        #contact {
            padding: 15vh 30vw 0 30vw;
        }
}


/* Media Size Specific */
/* Extra small screen / phone */
	/*@media screen and (max-width:@screen-xs-max) {*/
    @media screen and (max-width: 767px) {
        /* Common */
		/* body{
			background-color: orange;
		} */

		/* Section */

		/* Container */

		/* Headings */

		/* Section One - Home */
		
		/* Section Two - About Me */

		/* Section Three - Portfolio */

		/* Section Four - Contact */
    }

/* Small Screen / tablet */
  	/*@media screen and (min-width:@screen-sm-min) and  (max-width:@screen-sm-max) {*/
	@media screen and (min-width:768px) and (max-width: 991px) {

		/* Common */
		/* body{
			background-color: yellow;
		} */

		/* Section */

		/* Container */

		/* Headings */

		/* Section One - Home */
		
		/* Section Two - About Me */

		/* Section Three - Portfolio */

		/* Section Four - Contact */
	}

/* Medium Screen / desktop/tablet */
 	/*@media screen and (min-width:@screen-md-min) and (max-width:@screen-md-max) {*/
	@media screen and (min-width:992px) and (max-width: 1199px) {
		/* Common */
		/* body{
			background-color: blue;
		} */

		/* Section */

		/* Container */

		/* Headings */

		/* Section One - Home */
		
		/* Section Two - About Me */

		/* Section Three - Portfolio */

		/* Section Four - Contact */
		
	}

 /* Large Screen / 13" desktop / Mac airs */
  	/*@media screen and (min-width:@screen-lg-min) and (max-width:@screen-lg-max) {*/
	@media screen and (min-width:1200px) and (max-width: 1919px) {
		/* Common */
		/* body{
			background-color: purple;
		} */

		/* Main Content */
		
		/* Section */

		/* Container */

		/* Headings */

		/* Section One - Home */
		
		/* Section Two - About Me */

		/* Section Three - Portfolio */

		/* Section Four - Contact */
	}

/* XLarge Screen / screen with num pad*/
  	/*@media screen and (min-width:@screen-xl-min) {*/
	@media screen and (min-width: 1920px) {/*min-width: 1680px*/
		/* Common */
		/* body{
			background-color: green;
		} */

		/* Main Content */
		
		/* Section */
		section {
			padding: 0 15vw;
		}

		/* Container */

		/* Headings */

		/* Section One - Home */
		
		/* Section Two - About Me */

		/* Section Three - Portfolio */
		.project-title {
			font-size: 36px;
			line-height: 41px;
		}

		/* Section Four - Contact */

	}