.page-margin {
    margin: 0% 15%;
    bottom: 0;
    padding: 20px 10px 80px 10px;
}

/* page-margin for small-sized screen devices*/
@media only screen and (max-width:599px) {
    .page-margin {
        margin: 0 20px;
    }
}

footer {
    /* position: relative; */
    padding: 20% 0%;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #909090;
}