<div class="card flex-box">
    <div id="image-container">
        <!-- <mat-icon class="material-symbols-outlined" [fontIcon]="project.team" [style.color]="project.primaryColorCode"></mat-icon> -->
        <img class="thumbnail" [src]="project.image" [alt]="project.name"/>
    </div>
    <div class="content-container flex-box-col">
        <span class="project-title" [textContent]="project.name"></span>
        <span *ngIf="project.type" class="project-sub-title" [textContent]="project.type"></span>
        <p class="project-description" [textContent]="project.description"></p>
        <!-- target=_blank opens in new tab -->
        <a mat-button class="read-more-button" [href]="project.link" id="project-link" target="_blank">
            Read More
        </a>
    </div>
</div>
  