<div class="">
    <div *ngIf="home; else goBackTemplate">
        <mat-toolbar class="nav-bar nav-bar-background">
            <span><img class="profile-pic" [src]="navBarInfo.profilePic"/></span>
            <span>
                <mat-list>
                    <mat-list-item>
                    <span matListItemTitle class="about-line-one" [textContent]="navBarInfo.headline">Umang Singh</span>
                    <span matListItemLine class="about-line-two" *ngFor="let line of navBarInfo.nextLines" [textContent]="line"></span>
                    </mat-list-item>
                </mat-list>
            </span>
            <div class="spacer"></div>
            <div fxHide.sm fxHide.lt-sm>
                <a mat-button (click)="scrollToSection('about')">About</a>
                <a mat-button (click)="scrollToSection('projects')">Work</a>
                <a mat-button (click)="scrollToSection('contact')">Contact</a>
                <a mat-button [routerLink]="'resume'">Resume</a>
            </div>
        </mat-toolbar>
        <mat-toolbar class="nav-bar2">
            <div fxHide.gt-sm>
                <a mat-button (click)="scrollToSection('about')">About</a>
                <a mat-button (click)="scrollToSection('projects')">Work</a>
                <a mat-button (click)="scrollToSection('contact')">Contact</a>
                <a mat-button [routerLink]="'resume'">Resume</a>
            </div>
        </mat-toolbar>
    </div>

    <ng-template #goBackTemplate>
        <mat-toolbar class="nav-bar nav-bar-background">
            <a mat-button (click)="goBack()">Home</a>
            <a mat-button *ngIf="download" (click)="downloadClicked()">Download</a>
        </mat-toolbar>
    </ng-template>
</div>