<div class="page-margin">
    <div *ngIf="home; else goBackTemplate">
        <mat-toolbar class="nav-bar">
            <span><img class="profile-pic" [src]="'../assets/images/profile-pic.png'"/></span>
            <span>
                <mat-list>
                    <mat-list-item>
                      <span matListItemTitle class="about-line-one">Umang Singh</span>
                      <span matListItemLine class="about-line-two">UX / UI Designer | Product Designer</span>
                      <span matListItemLine class="about-line-two">M. Des (UX/UI)</span>
                    </mat-list-item>
                </mat-list>
            </span>
            <div class="spacer"></div>
            <div fxHide.xs>
                <a mat-button (click)="scrollToSection('about')">About</a>
                <a mat-button (click)="scrollToSection('projects')">Work</a>
                <a mat-button (click)="scrollToSection('contact')">Contact</a>
                <a mat-button>Resume</a>
            </div>
        </mat-toolbar>
        <mat-toolbar class="nav-bar2">
            <div fxShow.xs fxHide.gt-xs>
                <a mat-button (click)="scrollToSection('about')">About</a>
                <a mat-button (click)="scrollToSection('projects')">Work</a>
                <a mat-button (click)="scrollToSection('contact')">Contact</a>
                <a mat-button>Resume</a>
            </div>
        </mat-toolbar>
    </div>

    <ng-template #goBackTemplate>
        <mat-toolbar class="nav-bar">
            <a mat-button (click)="goBack()">Home</a>
        </mat-toolbar>
    </ng-template>
</div>