.flex-box {
    /* width: 100%; */
    display: inline-flex;
    /* responsively send to next line */
    flex-wrap: wrap;
    /* justify-content aligns items horizontolly - set from HTML styles */ 
    /* aligns items vertically */
    align-items: center;
    /* add gap between flex items */
    gap: 10px;
}

@media screen and (max-width: 992px){
    .right {
        width: 100%;
    }
}

.nav-bar {
    background-color: transparent;
    z-index: 200;
    padding: 10px 15%;
    /* min-height: 80px; */
    position: fixed;
}

/* page-margin for small-sized screen devices*/
@media only screen and (max-width:599px) {
    .nav-bar {
        padding: 10px 20px !important;
    }
}

.nav-bar-background {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: auto !important;
    /* width: 100vw; */
}

.profile-pic {
    height: 64px;
    width: 64px;
}

.about-line-one {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #303030;
}

.about-line-two {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #909090;
}

.resume-button::after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: url('../../assets/images/icons/right-arrow.svg') no-repeat center center;
    background-size: 50%;
}

.home-button::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: url('../../assets/images/icons/left-arrow.svg') no-repeat center center;
    background-size: 50%;
}